/*
* Cupcakes
* March 28,2018
* CSS Project
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body { 
	background-color: pink; color: gray;
font-family: "Times New Roman", Times,serif; 
}
h1 {
	font-size: 200%;
	text-align: center;
	text-decoration: underline
	}
img {float: right;}